# Python
.venv/
__pycache__/
*.pyc

# Java / Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/.history/

# Node
node_modules/
package-lock.json

# Antora
build/

# OS
.DS_Store
Thumbs.db
