<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout/default}">
<head>
    <title>Nicht gefunden</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Seite nicht gefunden</h1>
        <p>Der gesuchte Beitrag existiert nicht oder wurde noch nicht veröffentlicht.</p>
        <nav>
            <a th:href="@{/posts}">&larr; Zurück zur Übersicht</a>
        </nav>
    </section>
</body>
</html>
